* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

footer {
  width: 100%;
  padding: 10px;
  background-color: #d6e6d5;
}

.all-links {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 90%;
  padding: 10px 0 10px 85px;
}

.all-links .fa-angle-down {
  opacity: 0;
}

input {
  display: none;
}

.list {
  padding: 12px;
  width: 260px;
}

.title {
  font-size: 18px;
  font-weight: 600;
  color: #4b5d37;
}

.list ul {
  list-style: none;
  margin-top: 14px;
}

.list ul li {
  margin-top: 7px;
}

.link a {
  text-decoration: none;
  font-size: 14px;
  margin-bottom: 7px;
  color: #77935d;
  transition: all 0.5s ease;
}

.list a:hover {
  color: #4b5d37;
  padding-left: 7px;
}

.social {
  text-align: center;
  margin-top: 10px;
}

.social .title {
  color: #4b5d37;
}

.social a {
  text-align: center;
  font-size: 24px;
  margin: 0 8px;
  transition: all 0.5s ease;
}

.social a .fa {
  font-size: 16px;
}

.social a .fa-facebook-f {
  color: #4267b2;
}

.social a .fa-youtube-play {
  color: #ff0000;
}

.social a .fa-telegram {
  color: #24acf2;
}

.social a .fa-instagram {
  color: #e1306c;
}

.copyrights {
  text-align: center;
  font-size: 13px;
  font-weight: 500;
  color: #4b5d37;
}


@media screen and (max-width: 1180px) {
  .all-links {
    flex-direction: column;padding: 10px 0;
  }

  .all-links .title {
    width: 100%;
    border-bottom: #c3c2c2 solid 1px;
    padding: 10px;
    cursor: pointer;
  }

  .all-links .fa-angle-down {
    opacity: 1;
    font-size: 25px;
    font-weight: 400;
    cursor: pointer;
    float: right;
    transition: all 0.5s ease;
  }

  .all-links .fa-angle-down:hover {
    box-shadow: 0 0 15px 5px #dbdbdb;
    border-radius: 3%;
  }

  .list {
    width: 100%;
  }

  .list ul {
    min-height: 80px;
    padding: 10px;
    display: none;
  }

  [id^="btn"]:checked + ul {
    display: block;
  }

  hr {
    display: none;
  }
}