<footer>
  <div class="all-links">
    <div class="list">
      <label class="title" for="btn"
        >company<i class="fa fa-angle-down"></i
      ></label>
      <input type="checkbox" id="btn" />
      <ul>
        <li class="link">
          <a href="#">about </a>
        </li>
        <li class="link">
          <a href="#">pharmacies </a>
        </li>
        <li class="link">
          <a href="#">partner </a>
        </li>
        <li class="link">
          <a href="#">jobs </a>
        </li>
        <li class="link">
          <a href="#">contact </a>
        </li>
        <li class="link">
          <a href="#">cooperation </a>
        </li>
      </ul>
    </div>

    <div class="list">
      <label class="title" for="btn2"
        >help <i class="fa fa-angle-down"></i></label
      ><input type="checkbox" id="btn2" />

      <ul>
        <li class="link">
          <a href="#">personal account </a>
        </li>
        <li class="link">
          <a href="#">payment and delivery </a>
        </li>
        <li class="link">
          <a href="#">question and answer</a>
        </li>
        <li class="link">
          <a href="#">how to reserve an item?</a>
        </li>
        <li class="link">
          <a href="#">reminder for the consumer</a>
        </li>
        <li class="link">
          <a href="#">privacy policy</a>
        </li>
      </ul>
    </div>

    <div class="list">
      <label class="title" for="btn3">
        promotion and sales <i class="fa fa-angle-down"></i>
      </label>
      <input type="checkbox" id="btn3" />

      <ul>
        <li class="link">
          <a href="#">promotion </a>
        </li>
        <li class="link">
          <a href="#">gift certificates </a>
        </li>
        <li class="link">
          <a href="#">loyalty program</a>
        </li>
        <li class="link">
          <a href="#">installment cards</a>
        </li>
        <li class="link">
          <a href="#">partner discounts</a>
        </li>
        <li class="link">
          <a href="#">cashback</a>
        </li>
      </ul>
    </div>

    <div class="list">
      <label for="btn4" class="title"
        >press center <i class="fa fa-angle-down"></i
      ></label>
      <input type="checkbox" id="btn4" />
      <ul>
        <li class="link">
          <a href="#">news</a>
        </li>
        <li class="link">
          <a href="#">article</a>
        </li>
        <li class="link">
          <a href="#">blog</a>
        </li>
        <li class="link">
          <a href="#">review</a>
        </li>
      </ul>
    </div>
  </div>
  <hr />
  <div class="social">
    <p class="title">social network</p>

    <a href="#"><i class="fa fa-facebook-f"></i></a>

    <a href="#"><i class="fa fa-telegram"></i></a>

    <a href="#"><i class="fa fa-youtube-play"></i></a>

    <a href="#"><i class="fa fa-instagram"></i></a>
  </div>
  <p class="copyrights">&copy;2023 <span>Pharma.Com</span></p>
</footer>